[submodule "third_party/elfio"]
	path = third_party/elfio
	url = https://github.com/serge1/ELFIO
[submodule "third_party/SDL2"]
	path = third_party/SDL2
	url = https://github.com/libsdl-org/SDL
[submodule "third_party/cryptopp/cryptopp"]
	path = third_party/cryptopp/cryptopp
	url = https://github.com/weidai11/cryptopp
[submodule "third_party/xbyak"]
	path = third_party/xbyak
	url = https://github.com/herumi/xbyak
[submodule "third_party/toml11"]
	path = third_party/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "cpp-httplib"]
	path = third_party/httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb
[submodule "third_party/cmrc"]
	path = third_party/cmrc
	url = https://github.com/vector-of-bool/cmrc
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "third_party/discord-rpc"]
	path = third_party/discord-rpc
	url = https://github.com/Panda3DS-emu/discord-rpc
[submodule "third_party/LuaJIT"]
	path = third_party/LuaJIT
	url = https://github.com/Panda3DS-emu/LuaJIT
[submodule "third_party/mio"]
	path = third_party/mio
	url = https://github.com/vimpunk/mio
[submodule "third_party/hydra_core"]
	path = third_party/hydra_core
	url = https://github.com/hydra-emu/core
[submodule "third_party/zep"]
	path = third_party/zep
	url = https://github.com/Panda3DS-emu/zep
[submodule "third_party/oaknut"]
	path = third_party/oaknut
	url = https://github.com/merryhime/oaknut
[submodule "third_party/luv"]
	path = third_party/luv
	url = https://github.com/luvit/luv
[submodule "third_party/libuv"]
	path = third_party/libuv
	url = https://github.com/libuv/libuv
[submodule "third_party/miniaudio"]
	path = third_party/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "third_party/teakra"]
	path = third_party/teakra
	url = https://github.com/wwylele/teakra
[submodule "third_party/boost"]
	path = third_party/boost
	url = https://github.com/Panda3DS-emu/ext-boost
[submodule "third_party/dynarmic"]
	path = third_party/dynarmic
	url = https://github.com/Panda3DS-emu/dynarmic
[submodule "third_party/nihstro"]
	path = third_party/nihstro
	url = https://github.com/neobrain/nihstro.git
[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2.git
