[submodule "third_party/elfio"]
	path = third_party/elfio
	url = https://github.com/serge1/ELFIO
[submodule "third_party/dynarmic"]
	path = third_party/dynarmic
	url = https://github.com/merryhime/dynarmic
[submodule "third_party/SDL2"]
	path = third_party/SDL2
	url = https://github.com/libsdl-org/SDL
[submodule "third_party/boost"]
	path = third_party/boost
	url = https://github.com/citra-emu/ext-boost
[submodule "third_party/cryptopp/cryptopp"]
	path = third_party/cryptopp/cryptopp
	url = https://github.com/weidai11/cryptopp
