<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:required="true"
        android:glEsVersion="0x0030001"/>

    <application
        android:name=".app.PandroidApplication"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:isGame="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.Pandroid"
        tools:targetApi="31">
        <activity
            android:name=".app.MainActivity"
            android:exported="true"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.GameActivity"
            android:configChanges="screenSize|screenLayout|orientation|density|uiMode">
        </activity>
        <activity
            android:name=".app.editor.CodeEditorActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="screenSize|screenLayout|orientation|density|uiMode">
        </activity>
        <activity android:name=".app.PreferenceActivity"
            android:launchMode="standard"
            android:configChanges="screenSize|screenLayout|orientation|density"/>

        <activity android:name=".app.preferences.InputMapActivity"
            android:configChanges="density|orientation|screenSize"/>

        <service android:name=".app.services.LoggerService" android:process=":logger_service"/>
    </application>
</manifest>
